# EditorConfig is awesome: https://EditorConfig.org
#
# For auto validation & correction within your IDE, please install an extension:
# On Visual Studio Code use ctrl + p and "ext install EditorConfig.EditorConfig" to install extension
# On PhpStorm get https://plugins.jetbrains.com/plugin/7294-editorconfig/
#

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

#
# TODO: Add global rules later
#
